// Font Family
$ff_one:            'gothambook', sans-serif;
$ff_two:			'gothammedium', sans-serif;

// Color 
$text-color:       #333333;
$light-gray:       rgba(255,255,255,0.5);
$bgColor:		   #EEEDEC;
$lightBorder:	   #dddddd;
$iconColor:	       #a1a1a1;
$white-color:	   #ffffff;
$whiteLightcolor:  #fafafa;
$black-color:      #000000;
$black-color-light:#000000a6;
$backTop-color:    #000000;
$danger-color:     #ff0000;
$tabColor:         #858585;
$borderColor:      #cccccc;
$bgLightColor:     #f7f7f7;
$packageBgColor:   #826e99;
$packageListBgColor:#cfcfcf24;
$shadowColor:#e3e3e3;
$whiteLighShade:#eeeeee;
$lightGrey:#8c8c8c;
$borderTableColor:#eaeaea;
$seperatorBorderColor:#e5e5e5;







// Theme Color
$primaryColor:		#979a8f;
$primaryLightColor:	#6a6a6a;
$primaryDarkColor:	#616161;
$secondaryColor:	#c9c9c9;
$authBorderColor:	#1ac1de66;


// Font Size
$fs_base: 			14px;

$fs_h1:             36px;
$fs_h2:             20px;
$fs_h3:             18px;
$fs_h4:             16px;
$fs_h5:             14px;
$fs_h6:             12px;

$fw_l:              300;
$fw_r:              400;
$fw_m:              500;
$fw_sb:             600;
$fw_b:              700;
$fw_eb:             800;
$fw_bl:             900;